.children-container {
    height: 100vh;
}
.send-message {
    position: fixed;
    top: 90%;
}
.messages {
    max-height: 80%;
    min-height: 100px;
    overflow: auto;
    margin-top: 1vh;
}

.current-users {
    margin-top: 1vh;
    display: inline-block;
}
